.add-user-form {
  background-color: var(--ion-color-light);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

ion-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
